body {
  text-align: center;
  margin-top: 150px;
}

h1{
  font-size: 2.5em;
  color: red;
}

.choice-button {
  height: 100px;
  width: 100px;
  border: 1px solid rgb(0, 0, 0);
  margin: 10px;
  background-color: rgb(164, 212, 130);
  border-radius: 50px;
  cursor: pointer;
}

.choice-image {
  height: 75px;
}

.reset{
  background-color: green;
  color: white;
  font-size: 13px;
  border-radius: 1px;
  padding: 6px 10px;

}

